@font-face {
	font-family: 'kimberleyblack';
	src: url('../font/kimberley_bl.eot');
	src: url('../font/kimberley_bl.eot?#iefix') format('embedded-opentype'),
		 url('../font/kimberley_bl.woff') format('woff'),
		 url('../font/kimberley_bl.ttf') format('truetype'),
		 url('../font/kimberley_bl.svg#kimberleyblack') format('svg');
	font-weight: normal;
	font-style: normal;
}